body{
    background-color: bisque;
    color: rgb(44, 44, 46);
    font-size: 26px;
    text-align: center;
    padding: 5px;
    margin: 2px solid rgb(11, 12, 20);
}
p{
    font-size: 18px;
}

div{
    background-color: rgb(223, 206, 206);
    width: 350px;
    border: 1px solid black;
    margin: 1px;
    display: inline-block;
}